* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerBtnJugar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#userNickname{
    margin-top: 300px;
    width: 400px;
    height: 70px;
    background-color: #ffe2e8;
    border: palevioletred solid 3px;
    border-radius: 12px;
    text-align: center;
    font-size: 30px;
}
a{
    text-decoration: none;
}
.botonJugar{
    background-color: #68ad00;
    color: white;
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    border: green solid 3px;
    border-radius: 50px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#canvas{
    width: 800px;
    height: 650px;
    margin-top: 50px;
    border: red solid 3px;
}
#palabrAleatorias{
    width: 700px;
    height: 90px;
    margin-top: 20px;
    border: black solid 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}
.opcionesCanvas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
}
.opcionCanvas{
    margin: 15px;
}
.opcionColor{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 100%;
}